<ion-view view-title="About Us">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
        </div>
        <h4 class="content padding double-padding-x">About Us</h4>
		
		<div class="list card">
			<div class="item item-text-wrap">
		
		
			<p>We are experienced app developers with over 33000 app downloads and over 750,000 page views of our apps. </p><p>

Many of our apps and games have had top ranks in upto 60 countries. </p><p>

We develop apps for ourselves, for companies who want to take their business to the next level, and for individuals who have great ideas about apps that can be very successful. </p><p>

We are happy to work in partnership, which we have seen works better for both parties. We are happy to do just the development without any partnership. </p><p>

We have experience from idea validation, research to see if the idea would work, estimation, design, development, deployment, launch, monetization, analytics, and advertising. We also have expertise in ASO and post deployment management of apps. </p><p>

Please reply to discuss further. We can then give you details of our achievements and our website address. </p><p>

Please search for Rakesh Bhatia on google play to see our apps</p>
			</div>
		</div>
		
    </ion-content>
</ion-view>
